
<nav class="navbar">
  <div class="navbar-left">
    <span class="brand">HAM System</span>
    <a routerLink="/receptionist-schedule-appointment" class="nav-link active">
      Schedule Appointment
    </a>
    <a routerLink="/receptionist-appointments" class="nav-link ">
      View Appointments
    </a>
  </div>
</nav>


<div class="container mt-4">

  <h3>Schedule Appointment (Receptionist)</h3>

  <div *ngIf="responseMessage" class="alert alert-success">
    {{ responseMessage }}
  </div>

  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label class="form-label">Patient</label>
      <select class="form-control" formControlName="patientId">
        <option value="">-- Select Patient --</option>
        <option *ngFor="let p of patientList" [value]="p.id">
          {{ p.username }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Doctor</label>
      <select class="form-control" formControlName="doctorId">
        <option value="">-- Select Doctor --</option>
        <option *ngFor="let d of doctorList" [value]="d.id">
          {{ d.username }} ({{ d.specialty }})
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Appointment Time</label>
      <input
    type="datetime-local"
    class="form-control"
    formControlName="time"
    [min]="minDateTime">

    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="itemForm.invalid">
      Schedule Appointment
    </button>

  </form>

</div>