<div class="dashbaord-container">
  
  <div *ngIf="roleName === 'PATIENT'" class="card">
    <h3>Patient Dashboard</h3>
    <a routerLink="/schedule-appointment" class="btn">Schedule Appointment</a>
    <a routerLink="/patient-appointment" class="btn">View Appointments</a>
    <a routerLink="/login" class="nav-link logout">Logout</a>

  </div>

  <div *ngIf="roleName === 'DOCTOR'" class="card">
    <h3>Doctor Dashboard</h3>
    <a routerLink="/doctor-availability" class="btn">Update Availability</a>
    <a routerLink="/doctor-appointment" class="btn">View Appointments</a>
    <a routerLink="/login" class="nav-link logout">Logout</a>
  </div>

  <div *ngIf="roleName === 'RECEPTIONIST'" class="card">
    <h3>Receptionist Dashboard</h3>
    <a routerLink="/receptionist-schedule-appointments" class="btn">
      Schedule Appointment
    </a>
    <a routerLink="/receptionist-appointments" class="btn">
      View / Reschedule Appointments
    </a>
    <a routerLink="/login" class="nav-link logout">Logout</a>
  </div>
</div>
